<navbar></navbar>
<h1>Registro {{titulo}}</h1>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let head of headTitle">{{head}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let el of elements; let i of index">
            <td>{{ el.nombre }}</td>
            <td>{{ el.puesto }}</td>
            <td>{{ el.empresa }}</td>
            <td>{{ el.celular }}</td>
            <td>
                <button type="button" class="btn btn-outline-success mr-2" (click)="actualizar(i)"><i class="fas fa-edit"></i> Modificar</button>
                <button type="button" class="btn btn-outline-danger" (click)="borrar(i)"> <i class="fas fa-trash-alt"></i> Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>