input,
select {
    border-bottom: 1px solid #ebebee;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: transparent;
    background-color: transparent;
    outline: none;
    width: 100%;
}

[data-tooltip]:before {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
}

[data-tooltip]:hover:before {
    opacity: 1;
    border-radius: 10%;
    background-color: rgba(145, 141, 141, 0.863);
    left: 80%;
    width: 100%;
    top: -10px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

input#vacio {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}