[data-tooltip]:before {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
}

[data-tooltip]:hover:before {
    opacity: 1;
    border-radius: 20px;
    background-color: rgb(69, 69, 69);
    left: 80%;
    width: 100%;
    min-height: 100px !important;
    top: -10px;
    color: #fff !important;
    padding: 7px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}