<navbar></navbar>
<h1>Registro {{titulo}}</h1>
<table class="table">
    <thead>
        <tr>
            <th *ngFor="let head of headTitle">{{head}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let el of elements">

            <td>{{el.resp_asg}}</td>
            <td>{{el.fecha}}</td>
            <td>{{el.cantidad}}</td>
            <td>{{el.motivo}}</td>
            <td>{{el.tipo_gasto}}</td>
            <td>{{el.proyecto}}</td>
            <td>{{el.estatus}}</td>
            <td>
                <button type="button" class="btn btn-outline-success mr-2"><i class="fas fa-edit"></i> Modificar</button>
                <button type="button" class="btn btn-outline-danger"> <i class="fas fa-trash-alt"></i> Eliminar</button>
            </td>
        </tr>

    </tbody>
</table>