<navbar></navbar>
<h1>Registro {{titulo}}</h1>
<div class="loading" *ngIf="loading">Loading&#8230;</div>
<h3 class="ml-4">Monto Disponible: {{saldoDisp | currency}}</h3>
<br>
<div id=tabla>
    <table class="table" mdbTable #tableEl="mdbTable">
        <thead>
            <tr>
                <th *ngFor="let head of headTitle">{{head}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let el of elements; let i = index">
                <td>{{el.resp_asg}}</td>
                <td>{{el.fecha}}</td>
                <td>{{el.id_partida}}</td>
                <td style="text-align: right;">{{el.cantidad | currency }}</td>
                <td>{{el.motivo}}</td>
                <td>
                    <button mdbBtn mdbWavesEffect class="btn btn-outline-info btn-sm" data-toggle="modal" [attr.data-target]="'#'+el.id_of"> Ver comprobantes ...
                    <div [attr.id]="el.id_of" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-body" >
                                           <img class="zoom m-2" *ngFor="let file of el.arrComprobantes" [src]="file" (click)="descargar(file)">
                                    </div>
                                    <div class="modal-footer">
                                        <button  mdbBtn

mdbWavesEffect  type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
</div>
</div>
</div>
</div>
</button>
</td>
<td>
    <button mdbBtn mdbWavesEffect type=" button " class="btn btn-outline-success mr-2 btn-sm" (click)="actualizar(el) "><i class="fas fa-edit "></i> Modificar</button>
    <button mdbBtn mdbWavesEffect type="button " class="btn btn-outline-danger btn-sm " (click)="borrar(el) "> <i class="fas fa-trash-alt "></i> Eliminar</button>
</td>
</tr>
</tbody>
</table>
</div>