<navbar></navbar>
<h1>Registrar Gastos Generales</h1>
<div class="m-3 col-md-10 card ">
    <div class="flex-container">
        <div>
            <label class="control-label" for="resp_asg">Responsable ASG: </label><br>
            <select id="resp_asg ">
        <option disabled>Responsable ASG</option>
        <option value="holi ">Holi</option>
      </select>
        </div>
        <div>
            <label class="control-label" for="fecha">Fecha: <span><i class="far fa-calendar-alt "></i></span> </label>
            <input class="form-control col-md-12" id="fecha" placeholder="Fecha" formControlName="fecha" type="text">
        </div>
    </div>
    <div>
        <label class="control-label" for="cantidad ">Cantidad: </label>
        <input class="form-control col-md-12" id="cantidad " placeholder="Cantidad" formControlName="cantidad" type="text">
        <br/>
        <label class="control-label" for="descripcion">Motivo: </label>
        <input class="form-control" id="motivo" placeholder="Motivo" formControlName="motivo" type="text">
        <br/>
    </div>
    <div class=" flex-container">
        <div>
            <label class="control-label mr-2" for="tipo_gasto ">Tipo gasto:</label><br>
            <select id="tipo_gasto">
                <option disabled class="col-md-8">Tipo gasto</option>
                <option value="clientes ">Clientes</option>
                <option value="empresa ">Empresa</option>
                <option value="hardware ">Hardware</option>
                <option value="papeleria ">Papeleria</option>
                <option value="software ">Software</option>
                <option value="otros ">Otros</option>
              </select></div>
        <div>
            <label class="control-label mr-2" for="proyecto">Proyecto:</label><br>
            <select id="proyecto">
                    <option disabled class="col-md-8">Proyecto</option>
                    <option value="clientes ">:D</option>
                  </select></div>
        <div>
            <label class="control-label mr-2" for="estatus">Estatus:</label><br>
            <select id="estatus">
                    <option disabled>Estatus</option>
                    <option value="pendiente">Pentiente</option>
                    <option value="pagado">Pagado</option>
                    <option value="pagado">Incompleto</option>
                    <option value="cancelado">Cancelado</option>
                  </select>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-dark-green" id="guardar" class="col-md-5" active><i class="fas fa-cloud-download-alt"></i> Guardar </button>
    <alerta (click)="prueba()"> </alerta>

</div>