<navbar></navbar>
<h1 class="center">{{ titulo }}</h1>
<div class="m-2 card">
    <app-pago [email]="updateG.solicitante" *ngIf="userLog.rol !=='Aprobador' && updateG.estatus == 'Aprobado'"></app-pago>

    <div class="loading" *ngIf="loading">Loading&#8230;</div>
    <form class="p-3" [formGroup]="gastosForm" (ngSubmit)="onSubmit()">
        <div class="between">
            <div *ngIf="userLog.rol !== 'Aprobador'" class="mt-3 col-md-4">
                <label class="control-label" for="jefe">Solicitante</label><br>
                <select id="jefe" formControlName="solicitante" class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && fval.solicitante.errors }">
                    <option  disabled [value]="fval.solicitante.value">{{fval.solicitante.value }} </option>
                    <option *ngFor="let lider of lideres">{{lider.correo}} </option>
                </select>
            </div>
            <div class="mt-3 col-md-4">
                <label class="control-label" for="proyecto">Proyecto</label><br>
                <select id="proyecto" class="form-control" formControlName="proyecto" (change)="buscarProyecto(gastosForm.value.proyecto)" [ngClass]="{ 'is-invalid': submitted && fval.proyecto.errors }">
                    <option  disabled  [value]="fval.proyecto.value">{{fval.proyecto.value | titlecase}} </option>
                    <option *ngFor="let proyecto of proyectos">{{proyecto.nombre | titlecase}} </option>
                </select>
            </div>
            <div class="mt-3 col-md-4" *ngIf="proyecto !== undefined">
                <label class="control-label" for="fecha">Fecha<span><i class="ml-2 far fa-calendar-alt"></i></span> </label>
                <input class="form-control" id="fecha" [min]="proyecto.fechaini" formControlName="fecha" type="date" data-toggle="tooltip" title="*Campo obligatorio" [ngClass]="{ 'is-invalid': submitted && fval.fecha.errors }">
            </div>
            <div class="mt-3 col-md-4">
                <label class="control-label" for="montodisp">Monto Disponible</label>
                <input disabled class="form-control-sm" id="montodisp" [value]="saldoDisp |currency" type="text">
            </div>
            <div class="mt-3 col-md-4">
                <label class="control-label mr-2" for="tipo_gasto">Tipo gasto</label><br>
                <select id="tipo_gasto" class="selector form-control" formControlName="tipo_gasto" [ngClass]="{ 'is-invalid': submitted && fval.tipo_gasto.errors }">
                <option disabled [value]='fval.tipo_gasto.value'>{{fval.tipo_gasto.value | titlecase}}</option>
                <option *ngFor="let gto of tipoGto">{{gto.gasto}}</option>
              </select>
            </div>
            <div class="mt-3 class col-md-8">
                <label class="control-label" for="monto">Monto</label>
                <input class="form-control" id="monto" placeholder="Monto" formControlName="cantidad" type="text" data-toggle="tooltip" title="*Campo obligatorio" (keyup)="checkNumeros($event)" [ngClass]="{ 'is-invalid': submitted && fval.cantidad.errors }">
            </div>
            <div class="mt-3 class col-md-12">
                <label class="control-label" for="motivo">Motivo</label>
                <input class="form-control" id="motivo" placeholder="Motivo" formControlName="motivo" type="text" data-toggle="tooltip" title="*Campo obligatorio" (keyup)="checkL_N($event)" [ngClass]="{ 'is-invalid': submitted && fval.motivo.errors }">
            </div>
            <div class="mt-3 col-md-4">
                <label class="control-label">Reembolso</label><br>
                <label class="switch">
                        <input type="checkbox"name="check"id="check"formControlName="reembolso"(click)="cambio($event.target)">
                        <span class="slider round"></span>
                </label>
            </div>
            <br>
            <div class="mt-3 col-md-4">
                <label class="control-label mr-2">Estatus</label><br>
                <select formControlName="estatus">
                    <option  disabled [value]="fval.estatus.value">{{fval.estatus.value}}</option>
                    <option *ngIf="updateG.estatus !=='Aprobado'"value='Aprobado'>Aprobado</option>
                    <option value='Pagado'>Pagado</option>
                </select>
                <p id="error" *ngIf="submitted && fval.estatus.invalid">*Este campo no puede ir vacío</p>
            </div>

            <div class="mt-3 class col-md-12" *ngIf="id_gasto !== null">
                <label class="control-label" for="observaciones">Observaciones</label>
                <input class="form-control form-control-sm" id="observacionesaprobador" placeholder="Observaciones" formControlName="observacionesaprobador" type="text" data-toggle="tooltip" title="*Campo obligatorio" [ngClass]="{ 'is-invalid': submitted && fval.observacionesaprobador.errors }"><br><br>
                <input class="form-control form-control-sm" id="observacionespagado" placeholder="Observaciones" formControlName="observacionespagado" type="text" data-toggle="tooltip" title="*Campo obligatorio" [ngClass]="{ 'is-invalid': submitted && fval.observacionespagado.errors }">
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <label class="class" *ngIf="!id_gasto">Subir comprobantes <br><small><i>Agregar archivo  xml de la factura </i></small> </label><br>
            <div *ngIf="!id_gasto" class="around">
                <div *ngIf="(archivos.length <=  2)" class="drop-img  col-md-4">
                    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event; cargarArchivos();" [ngClass]="{ 'file-over': estaSobreElemento }" class="well drop-zone">

                        <div id="filesButton">
                            <input id="fichero" type="file" accept="image/*, application/pdf, .xlsx, .xls, text/xml" (change)="botonFiles($event)">
                            <label for="fichero" class="circle"></label>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div id="tabla" class="mt-3 col-md-6">
                    <table class="table" *ngIf="archivos.length > 0">
                        <thead>
                            <tr>
                                <th *ngFor="let ht of headTitle"> {{ht}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let archivo of archivos">
                                <td>{{archivo.nombreArchivo}}
                                </td>
                                <td class="between">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%', 'background-color':  archivo.completo?'green':'blue' }" aria-valuenow="{{ archivo.progreso }}" aria-valuemin="0" aria-valuemax="100">{{archivo.progreso}} </div>
                                    </div>
                                    <i class="fas fa-times ex" (click)="limpiarArchivos(archivos,archivo)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <br>
        <div *ngIf="actualizar" class="center">
            <button mdbBtn mdbWavesEffect type="button" id="cancelar" class="btn btn-outline-danger mr-4" (click)="regresar()"><i *ngIf="botonCancelar === 'Cancelar'"class="mr-3 fas fa-times"></i><i *ngIf="botonCancelar !== 'Cancelar'"class="mr-3 fa fa-arrow-left"aria-hidden="true"></i>
                {{botonCancelar}} </button>
            <button mdbBtn mdbWavesEffect *ngIf="botonCancelar === 'Cancelar'" type="submit" id="eliminar" class="btn btn-outline-warning"><i class="mr-3 fas fa-sync-alt"></i>
                    Actualizar</button>
        </div>
        <div class="center">
            <button mdbBtn mdbWavesEffect #guardar *ngIf="!actualizar" type="submit" id="guardar" class="mt-3 col-md-5"><i class="mr-3 fas fa-cloud-download-alt"></i>
                {{boton}}</button>
        </div>
    </form>

</div>