<!-- Just an image -->
<nav class="navbar navbar-light bg-light mb-3 between">
    <a class="navbar-brand">
        <div id="sidenav" class="sidenav">
            <!-- <a href="javascript:void(0)" id='closebtn' class="closebtn" onclick="closeNav()">&times;</a> -->
            <div class="acordeon">
                <img id="logo" src="/assets/img/logo.png">
                <div class="acordeon__item" *ngFor="let opt of opts">
                    <input type="radio" name="acordeon" [id]="opt.id">
                    <label data-toggle="tooltip" data-placement="right" title="Caja" [for]="opt.id" class="acordeon__titulo">{{opt.grupo | uppercase}}</label>
                    <div class="btn-group-vertical acordeon__contenido">
                        <button mdbWavesEffect color="link" type="button" class="btn" [routerLink]="['/'+sec.ruta]" *ngFor="let sec of opt.secciones"><i class="fab fa-cloudsmith"></i>{{sec.nombre | uppercase}}</button >
                    </div>
                </div>
                <div class="acordeon__item" >
                    <input type="radio" name="acordeon" id="guia">
                    <label data-toggle="tooltip" data-placement="right" title="Caja" for="guia" class="acordeon__titulo" > ARCHIVOS</label>
                    <div class="btn-group-vertical acordeon__contenido">
                        <button mdbWavesEffect color="link" type="button" class="btn " (click)="descargar()" ><i class="mr-1 fa fa-eye"></i><small>GUÍA DE FACTURACIÓN</small></button >
                    </div>
                </div>
            </div>
        </div>
        <div> <span onclick="openNav()">&#9776;</span></div>
    </a>
    <div class="user">
        <div class="circular">
            <img id="usuario" [src]="userLog.image">
        </div>
        <div>
            <input disabled id="usuario" [value]="userLog.email">
        </div>
    </div>

    <div class="f" style="text-align: end;">
        <a (click)="logout()"><i class="fas fa-sign-out-alt mr-1"></i>Salir</a>
        <br> <a class="text">©Copyright ASG Advisory Services</a>
    </div>

</nav>