<navbar></navbar>
<h1>{{ titulo }}</h1>

<div class="loading" *ngIf="loading">Loading&#8230;</div>
<div id="tabla_p">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let head of headTitle">{{head}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let el of elements; let i of index">
                <td>{{el.nombre}}</td>
                <td>{{el.descripcion}}</td>
                <td>{{el.fechaini}}</td>
                <td>{{el.fechafin}}</td>
                <td>{{el.monto_p | currency }}</td>
                <td>{{el.monto_d | currency }}</td>
                <td>{{el.tipo_proyecto}}
                    <p><button type="button" class="btn btn-outline-info btn-sm" (click)="elementoSelected(i)" data-toggle="modal" data-target="#more"> Más Información...</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="actualizar(i)"><i class="fas fa-edit"></i> Modificar</button>
                    <!-- <button type="button" class="btn btn-outline-danger btn-sm" (click)="borrar(i)"> <i class="fas fa-trash-alt"></i> Eliminar</button> -->
                </td>
            </tr>

        </tbody>
    </table>

</div>