    /* You can add global styles to this file, and also import other style files */
    
    body {
        /* background-color: #c34613; */
        /* background-color: #4E936F; */
        /* background-color: #202C4C; */
        background-color: #EBEBEE;
    }
    
    h1 {
        text-align: center;
        color: #202C4C;
        font-weight: bold;
    }
    
    h3 {
        color: #202C4C;
        font-weight: bold;
    }
    
    th {
        color: #4E936F;
        text-align: center;
        background-color: white;
    }