<navbar></navbar>
<h1>Registro {{titulo}}</h1>

<div class="loading" *ngIf="loading">Loading&#8230;</div>
<div id="tabla">
    <table class="table z-depth-1" mdbTable #tableEl="mdbTable">
        <thead>
            <tr>
                <th *ngFor="let head of headTitle">{{head}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let el of elements; let i = index" [ngStyle]="{'color': el.activo ? '#202C4C': 'red'}" [class.same-info]="userLog.email === el.correo">
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row"> {{el.ap_p | titlecase}} {{el.ap_m | titlecase}} {{el.nombre | titlecase}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.rol}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.area}}</td>
                <td class="let email" *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.resp_asg | name: cuentas}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.correo}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.puesto}}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">
                    <button id="acciones" #acciones mdbBtn mdbWavesEffect type="button" class="btn btn-outline-success mr-2 btn-sm" (click)="actualizar(el)"><i class="fas fa-edit"></i> Modificar</button>
                    <button id="acciones" #acciones mdbBtn mdbWavesEffect *ngIf="userLog.rol === 'Administrador'" type="button" class="btn btn-outline-danger btn-sm" (click)="borrar(el)"> <i class="fas fa-trash-alt"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
        <tfoot class="grey lighten-5 col-md-12">
            <tr>
                <td colspan="7" class="tfoot">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>